# Compiled binaries
/proxy
*.exe
*.exe~
*.dll
*.so
*.dylib

# Core dumps or local execution builds
proxy-engine

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
